body {
    background-color: dimgrey;
    font-family: 'Roboto', sans-serif;
}

h2 {
    padding: 0;
    color: white;
    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0.1em;
    width: 200px;
    display: inline-block;
}

p {
    margin: 2px;
}

input {
    font: inherit;
    width: 100px;
    margin-top: 5px;
    position: relative;
    top: 1px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px 5px 11px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.btn.green {
    background: #06db7a;
    background-image: -webkit-linear-gradient(top, #06db7a, #0bb923);
    background-image: -moz-linear-gradient(top, #06db7a, #0bb923);
    background-image: -ms-linear-gradient(top, #06db7a, #0bb923);
    background-image: -o-linear-gradient(top, #06db7a, #0bb923);
    background-image: linear-gradient(to bottom, #06db7a, #0bb923);
}

.btn.green:hover {
    background: #99fd92;
    background-image: -webkit-linear-gradient(top, #99fd92, #38db6b);
    background-image: -moz-linear-gradient(top, #99fd92, #38db6b);
    background-image: -ms-linear-gradient(top, #99fd92, #38db6b);
    background-image: -o-linear-gradient(top, #99fd92, #38db6b);
    background-image: linear-gradient(to bottom, #99fd92, #38db6b);
    text-decoration: none;
}

.center {
    margin: 0 auto;
    padding: 10px;
}

.container {
    width:800px;
    margin:0 auto;
    overflow:hidden;
}

.bottom {
    width:100%;
    clear:both;
    overflow:hidden;
}

.display-block {
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 100px;
    color: white;
    padding: 15px;
}

#output {
    background-color: #15a085;
    border: 3px solid green;
}

#commands {
    background-color: #8b8b8b;
    border: 3px solid #505050;
}

#orderBook {
    background-color: #8d869b;
    border: 3px solid #530780;
}


.right {
    float: left;
    margin-left: 80px;
    width: 400px;
    overflow:hidden;
}

.left {
    float: left;
    width: 300px;
    overflow:hidden;

}
.file-select {
    float: right;
    display: inline-block;
    padding-right: 30px;
    text-align: right;
}

.error {
    color: red;
}

.line {
    color: #adacac;
    display: inline;
    margin-right: 10px;
}